.tecnologias {
  margin-top: 111px;
}

.tecnologias h2 {
  margin-bottom: 48px;
}

.tecnologias p {
  /* width: 1077px; */
  margin-bottom: 9px;
}

.alagamento-img {
  margin-top: 28px;
  gap: 49px;
}

@media (max-width: 1200px) {
  .alagamento-img {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .alagamento-img1 {
    width: 40%;
    height: 380px;
  }

  .alagamento-img2 {
    width: 40%;
    height: 380px;
  }
}
